body{
   font-size: 14px;
   line-height: 20px;
   font-family: helvetica neue, helvetica, arial, sans-serif;
}

a {
	outline: 0;
	color: #464451;
	text-decoration: none;
	border-bottom: 0px solid #b3b0c1;
}

a:hover,
	a:focus {
	color: #957700;
	border-bottom: 0px solid #ceca6e;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 20px;
}

h3 {
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}

.wrap {
	margin: 0 auto;
	max-width: 1024px;
}

.block-group {
	margin-bottom: 30px;
}

.bg{
   width: 80%;
   height: 80%;
   position: absolute;
   z-index: -1;
   top: 100px;
   opacity: .18;
}


.header {
	z-index: 9999;
	margin-bottom: 0;
}

.social .block {
	padding: 0 0 10px;
	width: 16.5%;
}

.social .block img {
	width: 80%;
}

.text-navbar {
	width: 1000px;
	height: 200px;
	margin: 20px auto -60px;
	float: none;
	z-index: 999;
}

.text-navbar i.dots {
	display: block;
	margin-top: 8px;
	width: 14px;
	height: 80px;
	background: url(../img/m_st.png) repeat-y center 0;
	background-size: 10px 10px;
}

.text-navbar a {
	padding: 14px 0;
	margin: 0;
	border-bottom: 0;
	color: #000;
	font-weight: 400;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	font-weight: 600;
	line-height: 25px;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	text-align: center;
	width: 126px;
}

.text-navbar a img {
	width: 40px;
	z-index: 999;
}

.text-navbar a.logo {
	width: 155px;
	z-index: 999;
	text-align: left;
}

.text-navbar a.logo img {
	margin: 10px 0 0 30px;
	width: 110px;
	position: absolute;
}

.text-navbar a:hover {
	color: #aca81c;
}

.text-navbar a.active {
	color: #c97600;
	text-shadow: 0 1px 0 #fff;
	border-color: #c97600;
}

.block-group .slider {
	margin-top: -35px;
	width: 100%;
/*	background: rgba(0,0,0,.2);*/
	z-index: 1;
}

.block-group .media {
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,.2);
	z-index: 1;
}

.block-group .news .img {
	width: 200px;
	height: 200px;
	margin: 0 30px 30px 0;
	background: rgba(0,0,0,.2);
	z-index: 1;
	position: relative;
	float: left;
}

.block-group .news .t-date {
	margin-top: 5px;
	margin-bottom: 10px;
	display: block;
}

.block-group .news h3 {
	margin: 0;
}

.block-group .news.home .img {
	width: 92px;
	height: 92px;
	margin-right: 20px;
	line-height: 0;
	overflow: hidden;
	border: 1px solid #ccc;
}

.block-group .news.home .img img {
	width: 92px;
	height: 92px;
}

.block-group .title {
	width: 200px;
	height: 100px;
	z-index: 1;
	text-transform:uppercase;
	position: relative;
}


.left-arr,
.right-arr {
	float: left;
	width: 40px;
	height: 40px;
	margin: 130px 0 0 -20px;
	background: url(../img/left-arr.png) no-repeat 0 0;
	background-size: 40px 40px;
	margin-top: -200px;
	z-index: 999;
}

	.mini-slider .left-arr,
	.mini-slider .right-arr {
		width: 30px;
		height: 30px;
		margin: 85px 0 0 -15px;
		background: url(../img/left-arr.png) no-repeat 0 0;
		background-size: 30px 30px;
		z-index: 999;
	}

.right-arr {
	margin: 130px -20px 0 0;
	background: url(../img/right-arr.png) no-repeat 0 0;
	background-size: 40px 40px;
	float: right;
	z-index: 999;
}

	.mini-slider .right-arr {
		margin: 85px -15px 0 0;
		background: url(../img/right-arr.png) no-repeat 0 0;
		background-size: 30px 30px;
		z-index: 999;
	}


.block-group .mini-slider {
	width: 100%;
	height: 200px;
	background: rgba(0,0,0,.2);
	z-index: 999;
}


.footer {
	padding-bottom: 60px;
}

.footer a.logo {
	opacity: .5;
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	transition: all .1s;
}

.footer a.logo:hover,
.footer a.logo:focus {
	opacity: 1;
}

.footer a.logo img {
	width: 32%;
}


#slides {
	display: none;
	position: relative;
	z-index: 0;
	margin-top: -50px;
}

#slides a {
	border-bottom: 0;
	text-decoration: none;
}

#slides .slidesjs-container {
	border: 1px solid #ccc;
	line-height: 0;
}

#slides .slidesjs-navigation {
	display: none;
}

#slides a.slidesjs-stop,
#slides a.slidesjs-play {
	margin-top: 10px;
	display: inline-block;
	width: 16px;
	height: 16px;
	font-size: 10px;
	line-height: 17px;
	border: 1px solid #333;
	border-radius: 20px;
	text-align: center;
}

#slides a.slidesjs-play {
	width: 14px;
	padding-left: 2px;
	font-size: 9px;
}

ul.slidesjs-pagination {
	margin: -16px auto 0;
	width: 200px;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

ul.slidesjs-pagination li {
	display: inline-block;
	list-style: none;
	margin: 0 3px;
}

#slides ul.slidesjs-pagination li a {
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 20px;
	border: 1px solid #333;
	border-bottom: 1px solid #333;
	text-align: center;
	font-size: 9px;
	font-weight: bold;
	line-height: 16px;
}

#slides ul.slidesjs-pagination li a:hover,
#slides ul.slidesjs-pagination li a:focus,
#slides a.slidesjs-stop:hover,
#slides a.slidesjs-stop:focus,
#slides a.slidesjs-play:hover,
#slides a.slidesjs-play:focus {
	color: #fff;
	background: orange;
	border: 1px solid orange;
}

#slides ul.slidesjs-pagination li a.active {
	background: #333;
	color: #fff;
	border: 1px solid #333;
	border-bottom: 1px solid #333;
}







