/* ------ general
-----------------------------------------------*/

body {
font-family:Arial, Helvetica, sans-serif;
background:#f1f1f1;
}

/* ------ mobilyslider
-----------------------------------------------*/

#content {
}

.slider {
float:left;
width:100%;
position:relative;
padding-bottom:20px;
background:url(../gfx/bottom_shadow.png) no-repeat bottom center;
background-size: 1020px 20px;
}

.sliderContent {
float:left;
width:1024px;
height:349px;
clear:both;
position:relative;
overflow:hidden;
background: #fff;
}

.mini-slider {
position: relative;
}

.mini-slider .sliderContent {
width:482px;
height:214px;
border: 1px solid #ccc;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image:url(../gfx/prev_next.png);
width:42px;
height:42px;
position:absolute;
top:50%;
margin-top:-34px;
}

.mini-slider .sliderArrows a {
	margin-top:-12px;
	opacity: 0;
}

.prev {
background-position:0 0;
left:15px;
}

.prev:hover {
background-position:0 -44px;
}

.next {
right:15px;
background-position:-44px 0;
}

.next:hover {
background-position:-44px -44px;
}

.sliderContent .item {
position:absolute;
width:100%;
background:#fff;
}

.sliderBullets {
position:absolute;
bottom:30px;
left:50%;
z-index:50;
width: 90px;
height: 12px;
margin-left:-45px;
text-align: center;
}

.mini-slider .sliderBullets {
	bottom:-5px;
}

.sliderBullets a {
display:inline-block;
text-indent:-9999px;
outline:none;
margin-left:5px;
width:10px;
height:11px;
background:url(../gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
background-position:0 -11px;
}

.sliderContent a {
outline:none;
}


a img {
border:none;
}